<%= form_for @user do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :role, "I am a.." %>
    <%= form.collection_select :role, User::ROLES, :to_s, :to_s %>
  </div>
  <div>
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>
  <h3> Recommended Additional Information: </h3>
  <div>
    <%= form.label :primary_contact %>
    <%= form.text_field :primary_contact %>
  </div>
  <div>
    <%= form.label :phone_numer %>
    <%= form.phone_field :phone_number %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :facility_type %>
    <%= form.collection_select :facility_type, User::FACILITY_TYPE, :to_s, :to_s, include_blank: true %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.submit "Update Profile" %>
  </div>
<% end %>
