<div class="adoption-container">
  <div class="row">
    <div class="small-6 large-8 columns">
      <div class="image-container">
        <h1><%= @animal.name %></h1>
        <div class="adoption-headshot">
          <div class="interaction-gif">
            <%= image_tag @animal.image.profile.url %>
          </div>
        </div>
      </div>
    </div>
    <div class="small-6 large-2 columns">
      <div class="adoption-sidebar">
        <h4>Level: <%= @adoption.level %></h4>
        <h4>Points: <%= @adoption.score %></h4>
        <h4><%= "Credits #{current_user.credits}" %></h4>

        <div class="button-container">
          <%= form_tag [@adoption, :feedings] do %>
            <%= submit_tag "Feed", class: "button" %>
        <% end %>

          <div class="button-sidebar-spacing">
            <%= form_tag [@adoption, :plays] do %>
              <%= submit_tag "Play", class: "button" %>
          <% end %>
          </div>


          <div class="button-sidebar-spacing">
            <%= form_tag [@adoption, :trainings] do %>
              <%= submit_tag "Train", class: "button"  %>
          <% end %>
          </div>


          <div class="button-sidebar-spacing">
            <%= form_tag [@adoption, :sleeps] do %>
              <%= submit_tag "Sleep", class: "button"  %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
