<div class="adoption-container">
  <div class="row">
    <div class="large-6 columns">
        <%= image_tag @animal.image.profile.url %>
    </div>
    <div class="large-6 columns">
      <div class="adoption-sidebar">
        <h3><%= @animal.name %></h3>
        <h4>Level: <%= @adoption.level %></h4>
        <h4>Points: <%= @adoption.score %></h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="adoption-container">
    <div class="small-3 small-centered columns">
      <%= form_tag [@adoption, :feedings] do %>
        <%= submit_tag "Feed #{@animal.name}", class: "button" %>
    <% end %>
    </div>
  </div>
</div>
