<div class="adoption-container">
<div class="large-3 columns">
  <div class="adoption-sidebar">
    <h1><%= @animal.name %></h1>
    <h4>Level: <%= @adoption.level %></h4>
    <h4>Points: <%= @adoption.score %></h4>
    <h4><%= "Credits: #{current_user.credits}" %></h4>

    <div class="button-container">
      <%= form_tag [@adoption, :feedings] do %>
        <%= submit_tag "Feed", class: "button" %>
    <% end %>

      <div class="button-sidebar-spacing">
        <%= form_tag [@adoption, :plays] do %>
          <%= submit_tag "Play", class: "button" %>
      <% end %>
      </div>

      <div class="button-sidebar-spacing">
        <%= form_tag [@adoption, :trainings] do %>
          <%= submit_tag "Train", class: "button"  %>
      <% end %>
      </div>

      <div class="button-sidebar-spacing">
        <%= form_tag [@adoption, :sleeps] do %>
          <%= submit_tag "Pet", class: "button"  %>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="large-4 columns">
  <div class="animal-profile-container">
    <div class="wooden-frame-container">
      <%= image_tag @animal.image.profile.url %>
    </div>
  </div>
</div>

<div class="large-5 columns">
  <div class="gif-container">
    <div id="interaction-gif">
      <% if @adoption.positive_interaction_status %>
        <%= image_tag @animal.image.profile.url, id:"animal" %>
    <% else %>
      <div class="response-container">
        <h3>Select an open interaction<br>
        or try again later:</h3>
        <h4><%= "Feed Counter: #{@adoption.feed_counter}/#{Feeder::MAX_FEEDINGS_PER_PERIOD}*" %></h4>
        <h4><%= "Play Counter: #{@adoption.play_counter}/#{Play::MAX_PLAYS_PER_PERIOD}" %></h4>
        <h4><%= "Train Counter: #{@adoption.train_counter}/#{Trainer::MAX_TRAINS_PER_PERIOD}" %></h4>
        <h4><%= "Pet Counter: #{@adoption.sleep_counter}/#{Sleeper::MAX_SLEEPS_PER_PERIOD}" %></h4>
        <br>
        *requires credits
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
