<hr>
<div class="animal-index-container">
  <div class="small-2 large-4 columns">
    <div class="text-center">
      <h1 class="animal-name"><%= animal.name %></h1>

      <% if current_user.shelter? && ! animal.adopted %>
          <%= form_tag [:edit, current_user, animal], method: :get do %>
            <%= submit_tag "Edit Animal", class: "button" %>
          <% end %>
        <% elsif current_user.caregiver? && ! animal.adopted %>
          <%= form_tag [:new, animal, :adoption], method: :get do %>
            <%= submit_tag "Adopt", class: "button" %>
          <% end %>
    <% end %>
    </div>
  </div>

  <div class="small-4 large-4 columns">
    <%= image_tag animal.image.thumb.url %>
  </div>

  <div class="small-6 large-4 columns">
    <h5>
      <b>Age:</b> <%= animal.age %><br>
      <b>Breed:</b> <%= animal.breed %><br>
      <b>Gender:</b> <%= animal.gender %><br>
      <b>Personality:</b> <%= animal.personality %><br>
      <b>Biography:</b> <%= animal.biography %><br>
      <b>Shelter Name:</b> <%= animal.user.name %><br>

      <% if current_user.shelter? && ! animal.adopted %>
        <%= link_to "Delete Listing", animal, method: :delete %>
      <% elsif current_user.shelter? && animal.adopted %>
        <h4>Animal Adopted</h4>
      <% end %>
    </h5>
  </div>
</div>
