<hr>
<div>
  Name: <%= animal.name %><br>
  Type: <%= animal.mammal_type %><br>
  Age: <%= animal.age %><br>
  Breed: <%= animal.breed %><br>
  Personality: <%= animal.personality %><br>
  Biography: <%= animal.biography %><br>
  Shelter Id: <%= animal.user_id %><br>
  <%= image_tag animal.image.url.to_s %>
</div>

<div>
  <% if current_user.shelter? && ! animal.adopted %>
    <%= link_to "Edit Listing", [:edit, current_user, animal] %><br>
    <%= button_to "Delete Listing", animal, method: :delete %>
  <% end %>
</div>
<div>
  <% if current_user.caregiver? %>
    <%= link_to "Adopt #{animal.name}", [:new, animal, :adoption] %>
  <% end %>
</div>
<hr>
