<% if current_user.adoption %>
  <%= render @adoption %>
<% elsif current_user.shelter? %>
  <div class="shelter-container">
      <%= form_tag edit_user_path(current_user), method: :get do %>
      <%= submit_tag "Edit User", class: "button" %>
      <% end %>
      
      <%= form_tag new_user_animal_path(current_user), method: :get do %>
      <%= submit_tag "Create Animal Listing", class: "button" %>
      <% end %>

      <%= form_tag animals_path, method: :get do %>
        <%= submit_tag "View my animal listings", class: "button" %>
      <% end %>

      <a href="#" class="button">Upload Business Verification</a>
  </div>
<% else %>
  <div class="dashboard-container">
  <h2>Hello <%= current_user.name.capitalize %>.</h2>
  <h4>Enter your address, and browse adoptable pets near you!</h4>

  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query %>
    <%= submit_tag "Search", class: "button" %>
  <% end %>
<% end %>
</div>
