<center><h1>Create a new animal listing</h1></center>
<%= form_for [current_user, @animal] do |form| %>
  <%= render "error_messages", target: @animal %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :mammal_type, "Type" %>
    <%= form.collection_select :mammal_type, Animal::MAMMAL_TYPE, :to_s, :to_s, include_blank: false %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>
  <div>
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>
  <div>
    <%= form.label :gender %>
    <%= form.collection_select :gender, Animal::GENDER, :to_s, :to_s, include_blank: false %>
  </div>
  <div>
    <%= form.label :personality %>
    <%= form.collection_select :personality, Animal::PERSONALITY, :to_s, :to_s, include_blank: false %>
  </div>
  <div>
    <%= form.label :biography %>
    <%= form.text_area :biography %>
  </div>
  <div>
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>
  <div>
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>
  <div>
    <%= form.label :image, "Upload Image" %>
    <%= form.file_field :image %>
  </div>
  <div class="form-submit">
    <div class="large-12 columns">
      <center>
        <%= form.submit "Create Listing", class: "button" %>
      </center>
    </div>
  </div>
<% end %>
